/* ========================================================================= */
/* = All boxes                                                             = */
/* ========================================================================= */

  body.wp-admin .kint-plain {
    overflow: auto;
  }

/* ========================================================================= */
/* = Boxes inside of #wpbody-content                                       = */
/* ========================================================================= */

  #wpbody-content .kint-plain,
  #wpbody-content .kint-rich {
    clear: both;
    margin: 0 10px 10px 0;
    position: relative;
      top: 10px;
  }

/* ========================================================================= */
/* = Boxes outside of #wpbody-content                                      = */
/* ========================================================================= */

  body.wp-admin .kint-plain,
  body.wp-admin .kint-rich {
    margin: 10px;
  }
  @media (min-width: 785px) {
    body.wp-admin .kint-plain,
    body.wp-admin .kint-rich {
      margin: 10px 10px 10px 55px;
    }
  }
  @media (min-width: 960px) {
    body.wp-admin .kint-plain,
    body.wp-admin .kint-rich {
      margin: 10px 10px 10px 180px;
    }
  }
